doctype html
html(lang="ko")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.9.0/css/all.css')
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='../pugcss/mypage.css')
        title 예약페이지

    body
        include header
        form(method='post')
            input(type='hidden' name='roomType' id='roomType')
            input(type='hidden' name='roomId' id='roomId')
            main
                div.container
                    ul.room_group_list
                        each val, index in allRooms
                            li.room_reservation_item
                                div.room_item
                                    div.img(style=`background-image: url(${val.MOTEL_IMAGE ? val.MOTEL_IMAGE : val.HOTEL_IMAGE});`)
                                    div.room_info
                                        div.name
                                            span #{val.MOTEL_NAME ? val.MOTEL_NAME : val.HOTEL_NAME }
                                        ul.date
                                            li
                                                span.color checkIn
                                                span #{val.checkIn}
                                            li
                                                span.color checkOut
                                                span #{val.checkOut}
                                        div.btn_wrap
                                            button(type='button' data-room-type=`${val.ROOM_TYPE}` data-room-id=`${val.MOTEL_ID ? val.MOTEL_ID : val.HOTEL_ID}`).modifyDateBtn 날짜 수정
                                            button(type='button' data-room-type=`${val.ROOM_TYPE}` data-room-id=`${val.MOTEL_ID ? val.MOTEL_ID : val.HOTEL_ID}`).reservationCancellationBtn 예약취소
            div.modal.hidden
                div.modal__overlay
                div.modal__content.hidden
                    input.datepicker(type='date' id='checkIn' name='sel_date' min='2020-10-01')
                    input.datepicker(type='date' id='checkOut' name='sel_date2')
                    div.btn_wrap
                        button(type='submit') 바꾸기
                        button.closeBtn(type='button') 닫기
                div.modal__content.hidden
                    h1 예약을 취소하시겠습니까?
                    div.btn_wrap
                        button 예
                        button.closeBtn(type='button') 아니오
        script(src='../js/date.js')
        script(src='../js/modifyDate.js')
